@charset "UTF-8";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

}

/* GERAIS */
body {
     background-color: springgreen;
}

img {
     height: 150px;
     width: 100px;
}

section {
     background-color: white
}

/* HEADER */
header {
     background-color: red;
     margin-bottom: 10px;
     display: flex;
     height: 50px;
     overflow: hidden;
}

header nav {
     background-color: orange;
     width: 80%;
     display: flex;
     justify-content: end;
}


header ul  {
     background-color: yellow;
     padding: 0 5px;
     height: 50px;
     display: flex;
     align-items: center;
     list-style-type: none;
     gap: 20px;
}

header li{
     background-color: aqua;
     font-size: 1.1em;
     padding: 5px;
     margin: auto;
     
}

header > img {
     flex: 1;
}

header a {
     text-decoration: none;
}

/* MAIN */
main {
     background-color: red;
     width: 90%;
     margin: auto;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     gap: 30px;
}

 /* -- SOBRE MIM -- */
section#sobreMim {
     background-color: rgb(223, 189, 35);
     display: flex;
     flex-wrap: wrap-reverse;
}

#sobreMim article {
     background-color: antiquewhite;
}

#sobreMim article h2 {
     padding: 5px;
     text-align: center;
}

#sobreMim article p {
     padding: 5px;
}

#sobreMim picture {
     background-color: palevioletred;
     height: 200px;
     width: 300px;
     margin: auto;
     display: flex;
     justify-content: center;
     
}

#sobreMim picture > img {
     height: 100%;
     width: 100%;
}

/* -- PROJETOS -- */

section#meusProjetos {
     background-color: rgb(0, 111, 148);
     display: flex;
     flex-direction: column;
     gap: 20px;
}

#meusProjetos h2 {
     padding: 5px;
     text-align: center;
}

.projeto {
     background-color: darkolivegreen;
     display: flex;
     flex-flow: row wrap;
}

.projeto h3 {
     padding: 5px;
}

.projeto p{
     padding: 5px;
}

.projeto picture {
     background-color: lightgreen;
     display: flex;
     height: 200px;
     width: 50%;
     margin: auto;
}

.projeto picture > img {
     object-fit: cover;
     object-position: bottom;
     width: 100%;
     height: 100%;
}

footer {
     height: 200px;
     background-color: black;
     color: white;
     display: flex;
     flex-direction: column;
     padding: 20px;
     
}

#creditos {
     text-align: justify;
}

#socialMedias {
     position: relative;
     bottom: -40px;
     display: flex;
     justify-content: center;
     gap: 20px;
}